@import '../../styles/index.scss';

.fightView {
  @include page-wrapper;

  &--swamp {
    background: url("https://cdn.arcyvilk.com/mhgo/habitats/swamp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &--forest {
    background: url("https://cdn.arcyvilk.com/mhgo/habitats/forest.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &--desert {
    background: url("https://cdn.arcyvilk.com/mhgo/habitats/desert.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $size-16;
    gap: $size-16;
  }

  &__buttons {
    position: fixed;
    bottom: $size-72;
    width: 100%;
    margin-left: -$size-16;
    display: flex;
    flex-direction: column;
    padding: $size-16;
    gap: $size-8;
  }

  &__monster {
    position: relative;
    object-fit: cover;
    &--isActive {
      cursor: pointer;
      filter: drop-shadow(0 0 $size-32 $color-white);

      &:active {
        @include anim-bounce;
        animation: bounce 0.3s linear;
      }
    }

    &--isDead {
      transform: rotate(90deg);
      filter: grayscale(1);
        bottom: -$size-128;
    }
  }
}

.header {
  @include page-header;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  gap: $size-8;

  &__difficulty {
    display: flex;
    color: $color-action;
  }

  &__title {
    @include page-title;
    @include text-outline; 
    width: 100%;
    text-align:center;
    padding-bottom: $size-12;
    border-bottom: 1px solid $color-primary-text;
    color: $color-white;
  }
}

.healthBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $size-24;
  box-sizing: border-box;
  border: 3px solid $color-black;
  border-radius: $size-16;
  overflow: hidden;

  &__text {
    position: absolute;
    color: $color-white;
    text-align: center;
    font-size: $size-14;
    line-height: $size-16;
    z-index: $zindex-barText;
  }
  &__bg {
    width: 100%;
    height: 100%;
    background-color: $color-black;
    border-radius: $size-6;
  }
  &__fg {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: rgba($color-danger, 0.6);
    border-radius: $size-6;
    box-sizing: border-box;
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $size-16;

  &__title {
    @include page-title;
  }

  &__desc {
    margin: 0;
    font-size: $size-12;
    font-weight: 400;
  }

  &__drops {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: $size-32 $size-8;
  }
}