@import '../../styles/index.scss';

.equipmentView {
  @include page-wrapper;
  &__equipment {
    display: flex;
    flex-direction: column;
    margin-top: -$size-128;
    padding: $size-16;
    background-color: rgba($color-white, 0.5);
    z-index: $zindex-barText;
  }
}

.header {
  @include page-header;
  &__title {
    @include page-title; 
  }
}

