@import '@mhgo/front/styles/index.scss';

.equipmentView {
  &__craft {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $size-16;
  }

  &__items {
    @include item-grid;
  }

  &__itemWrapper {
    @include item-grid-wrapper;
  }

  &__actions {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: $size-8;
  }

  &__categoryTitle {
    font-size: $size-16;
    font-weight: 900;
    text-transform: uppercase;
  }
}
