@import '../../styles/index.scss';

.equipmentView {
  @include page-wrapper;
  &__overview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 50vh;
    pointer-events: none;
    padding: 0 $size-16;
    gap: $size-16;
  }

  &__stats {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 50%;
    
    padding: $size-12;
    background-color: rgba($color-white, 0.5);
    border-radius: $size-8;
    gap: $size-6;
    color: rgba($color-primary-text, 0.8);

    span {
      display: flex;
      align-items: center;
      gap: $size-4;
    }
  }
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $size-12;
}