@import '../../styles/index.scss';

.equipmentView {
  @include page-wrapper;

  background-position: 90% $size-64;
  background-repeat: no-repeat;
  background-size: 50%;

  &__equipment {
    display: flex;
    flex-direction: column;
    padding: $size-16;
    background-color: rgba($color-white, 0.5);
  }
}

.header {
  @include page-header;
  &__title {
    @include page-title; 
  }
}

