@import '../../styles/index.scss';

.equipmentView {
  &__craft {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $size-16;
  }

  &__items {
    @include item-grid;
  }

  &__itemWrapper {
    @include item-grid-wrapper;
  }

  &__itemDesc {
    display: flex;
    flex-direction: column;
    font-size: $size-14;
    font-weight: 400;
    gap: $size-16;
  }
}


.equipmentDropdown {
  display:flex;
  flex-direction: column;
  gap: $size-4;
}