@import '@mhgo/front/styles/index.scss';

.actionBar {
  position: sticky;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: $size-8 $size-16;
  width: 100%;
  background-color: rgba($admin-color-primary-bg, 0.4);

  &__title {
    margin: 0;
  }

  &__buttons {
    display: flex;
    gap: $size-8;
    align-items: center;
    justify-content: flex-end;

    button {
      width: auto;
    }


  }
}