@import '@mhgo/front/styles/index.scss';

.modalView {
  &__party {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80vw;
    height: 80vh;
    color: rgba($color-black, 0.5);
  }

  &__news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: $size-32;
  }

  &__appearance {
    display: flex;
    flex-direction: column;
    gap: $size-16;
    font-size: $size-16;
  }

  &__quickUse {
    display: flex;
    flex-direction: column;
    gap: $size-12;
    
    &__title {
      margin: 0;
      margin-bottom: $size-12;
      font-size: $size-18;
    }
    &__items {
      @include item-grid;
    }
  }
}

// Modal View - posts

.post {
  color: black;
  display: flex;
  flex-direction: column;
  gap: $size-12;
  padding: $size-12 0;
  background-color: $color-primary-bg;

  &__title {
    margin: 0;
    font-size: $size-24;
    color: rgba($color-black, 0.8);
    padding: 0 $size-12;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $size-12;

    span {
      font-size: $size-12;
      font-weight: 400;
      color: rgba($color-black, 0.7);
    }
  }
  &__img {
    max-width: 100%;
  }

  &__content {
    font-size: $size-14;
    font-weight: 400;
    padding: 0 $size-12;
  }
}