@import '../../styles/index.scss';

.select {
  appearance: none;
  -webkit-appearance: none;
  font-size: $size-12;
  font-weight: 600;
  padding: $size-8 $size-12;
  border: 1px solid rgba($color-primary-text, 0.5);
  border-radius: $size-16;
  background-color: $color-white;
  color: $color-primary-text;
  cursor: pointer;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    pointer-events: none;
  }

  &:before {
    border-width: $size-4;
    border-color: transparent transparent black transparent;
    top: 50%;
    right: $size-10;
    transform: translateY(-50%);
  }

  &:after {
    border-width: $size-4;
    border-color: black transparent transparent transparent;
    top: 50%;
    right: $size-10;
    transform: translateY(-50%);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $size-4;
  }

  &__option {
    font-size: $size-12;
    font-weight: 400;
    font-family: $font-open-sans;
  }
}