@import "../../styles/index.scss";

.loader {
  display: flex;
  flex-direction: column;
  gap: $size-16;
  align-items: center;
  justify-content: center;
  padding: $size-64;

  &--fullScreen {
    width: 100vw;
    height: 100vh;
    background-color: $admin-color-primary-bg;
    color: $admin-color-primary-text;
  }

  &--noPadding {
    padding: 0;
    gap: 0;
  }
}