@import '../../styles/index.scss';

.button {
  cursor: pointer;
  padding: 24px 18px;
  background-color: $color-white;
  border: none;
  box-shadow: 0 5px 5px rgba($color-black, 0.2);
  border-radius: 16px;
  color: $color-primary-text;

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 28px;
    font-weight: 600;
  }
}