@import '@mhgo/front/styles/index.scss';

.headerEdit {
  &__header {
    @include page-header-admin;
  }

  &__title {
    @include page-title;
  }

  &__status {
    font-size: $size-28;
    font-weight: 600;
    text-transform: uppercase;
    &--isPending {
      color: $color-white;
    }
    &--isSuccess {
      color: $color-success;
    }
    &--isError {
      color: $color-danger;
    }
  }
}
