@import '../../../styles/index.scss';

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-modal;
  user-select:none;
  pointer-events:none;
  animation: fadeOut 0.7s;
  opacity: 0;
  
  &--green {
    box-shadow: inset 0 0 $size-128 $color-health-user;
  }
  &--red {
    box-shadow: inset 0 0 $size-128 $color-health-enemy;
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
} 