@import '../../styles/index.scss';

.buttons {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: $size-10 $size-16;
  margin-bottom: $size-32;
}

.partyModal {
  display: flex;
  align-items:center;
  justify-content: center;
  overflow:hidden;
  width: 90vw;
  height: 90vh;
  color: rgba($color-black, 0.5);
}