@import '../../styles/index.scss';

.experience {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: $size-8;

  &__title {
    font-size: $size-16;
  }

  &__bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: $size-22;
    box-sizing: border-box;
    border: 2px solid rgba($color-primary-text, 0.5);
    border-radius: $size-8;
    overflow: hidden;
    padding: 2px;
  }
}

.bar {
  &__text {
    position: absolute;
    color: $color-white;
    text-align: center;
    font-size: $size-14;
    line-height: $size-16;
    text-shadow: 2px 0 $color-bar, -2px 0 $color-bar, 0 2px $color-bar, 0 -2px $color-bar,
    1px 1px $color-bar, -1px -1px $color-bar, 1px -1px $color-bar, -1px 1px $color-bar;
  }
  &__bg {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $color-bar;
    border-radius: $size-6;
  }
}