@import '../../styles/index.scss';

.hunter {
  display: flex;
  flex-direction: column;
  border: $size-12 solid $color-white;
  border-radius: $size-18;
  box-sizing: border-box;
  background-color: $color-secondary-bg;
  box-shadow: 0 5px 5px rgba($color-black, 0.2);
  width: 100%;

  &__top {
    display: flex;
    box-sizing: border-box;
    border-radius: $size-18;
    flex-grow: 1;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $size-16;
    // height: 130px;
    box-sizing: border-box;
    background-color: $color-tertiary-bg;
    flex: 1 1 20%;
    gap: $size-16;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
    gap: $size-8;
    max-width: 400px;
    @include ellipsis;
  }

  &__name {
    margin: 0;
    font-size: $size-22;
    @include ellipsis;
  }

  &__id {
    margin: 0;
    padding: $size-4 $size-6;
    border: 1px solid $color-primary-text;
    border-radius: $size-8;
    font-size: $size-14;
    @include ellipsis;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: $size-16;
  }
}

.qr {
  max-width: 100%;
  aspect-ratio: 1;
}