@import '../../styles/index.scss';

.hunter {
  display: flex;
  flex-direction: column;
  border: 12px solid $color-white;
  border-radius: 18px;
  box-sizing: border-box;
  background-color: $color-secondary-bg;
  box-shadow: 0 5px 5px rgba($color-black, 0.2);
  height: 700px;
  width: 100%;

  &__top {
    display: flex;
    padding: 16px;
    flex-grow: 1;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: $color-tertiary-bg;
    flex: 0 0 20%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 16px;
    gap: 16px;
  }

  &__name {
    margin: 0;
    font-size: 32px;
  }

  &__id {
    margin: 0;
    padding: 4px 8px;
    border: 1px solid $color-primary-text;
    border-radius: 8px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.qr {
  max-width: 100%;
  aspect-ratio: 1;
}