@import '../../styles/index.scss';

.shopView {
  @include page-wrapper;
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $size-16;
    gap: $size-16;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: $size-32 $size-8;
  }
}

.header {
  @include page-header;
  &__title {
    @include page-title; 
  }
}


.wealth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $size-16;
}

.currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $size-14;
  gap: $size-4;
}