@import '@mhgo/front/styles/index.scss';

.habitatsView {
  @include page-wrapper-admin;
  &__header {
    @include page-header-admin;
  }
  &__content {
    @include page-content-admin;
  }
  &__title {
    @include page-title;
  }

  &__detail {
    display: flex;
    align-items: center;
    gap: $size-8;
    font-weight: 600;
    min-width: 200px;
  }

  &__icon {
    max-width: $size-24;
    max-height: $size-24;
  }

  &__spawn {
    display: flex;
    flex-direction:column;
  }
}