@import '@mhgo/front/styles/index.scss';

.settingsView {
  @include page-wrapper-admin;
  &__header {
    @include page-header-admin;
  }
  &__content {
    @include page-content-admin;
    display: flex;
    gap: $size-16;
    padding: $size-8;
    flex-wrap: wrap;
  }
  &__title {
    @include page-title;
  }
}

.complexSetting {
  display: flex;
  flex-direction: column;
  gap: $size-8;

  &__name {
    font-size: $size-12;
    font-weight: 900;
  }
}