@import "@mhgo/front/styles/index.scss";

html {
  margin: 0;
  padding: 0;
  background-color: $color-primary-bg;
  color: $color-primary-text;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-open-sans;
  font-weight: bold;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html:not(#close) {
  color: $color-primary-text;
}

* {
  user-select: none;
  box-sizing: border-box;
  font-family: $font-open-sans;
}