@import '@mhgo/front/styles/index.scss';

.forageView {
  @include page-wrapper;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__resourceWrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__resource {
    z-index: $zindex-barText;
    min-width: $size-128;
    max-width: $size-128;
    min-height: $size-128;
    max-height: $size-128;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    cursor: pointer;

    &--isActive {
      &:active {
        @include anim-bounce;
        animation: bounce 0.3s linear;
      }
    }
    &--isOnCooldown {
      display: none;
    }
  }
}

.header {
  @include page-header;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  gap: $size-8;

  &__difficulty {
    display: flex;
    color: $color-action;
  }

  &__title {
    @include page-title;
    @include text-outline-thin; 
    width: 100%;
    text-align:center;
    padding-bottom: $size-12;
    border-bottom: 1px solid $color-primary-text;
    color: $color-white;
  }
}
