@mixin page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid $color-header-bg;
  gap: $size-16;
}

@mixin page-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $size-16;
  background-color: $color-primary-bg;
}

@mixin page-title {
  margin: 0;
  font-size: $size-24;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}