@mixin page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid $color-header-bg;
  gap: $size-16;
  padding-bottom: $size-64;
}

@mixin page-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $size-16;
  background-color: $color-primary-bg;
  z-index: $zindex-header;
}

@mixin page-title {
  margin: 0;
  font-size: $size-24;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin text-outline {
  text-shadow:
    2px 2px 0 $color-black,
    -2px 2px 0 $color-black,
    -2px -2px 0 $color-black,
    2px -2px 0 $color-black;
}

@mixin svg-outline {
  filter: dropShadow(
    2px 2px 0 $color-black,
    -2px 2px 0 $color-black,
    -2px -2px 0 $color-black,
    2px -2px 0 $color-black
  )
}