$size-4: 0.4rem;
$size-6: 0.6rem;
$size-8: 0.8rem;
$size-10: 1.0rem;
$size-12: 1.2rem;
$size-14: 1.4rem;
$size-16: 1.6rem;
$size-18: 1.8rem;
$size-20: 2.0rem;
$size-22: 2.2rem;
$size-24: 2.4rem;
$size-26: 2.6rem;
$size-28: 2.8rem;
$size-30: 3.0rem;
$size-32: 3.2rem;
$size-42: 4.2rem;
$size-48: 4.8rem;
$size-64: 6.4rem;
$size-72: 7.2rem;
$size-100: 10.0rem;
$size-128: 12.8rem;
