@import '@mhgo/components/styles/index.scss';

.youView {
  @include page-wrapper;

  &__wrapper {
    display: flex;
    flex-direction: column; 
    padding: $size-16;
    gap: $size-16;
  }
}

.header {
  @include page-header;
  &__title {
    @include page-title; 
  }
}
