@import '@mhgo/front/styles/index.scss';

.marker {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $size-4;
  }
  
  &__thumbnail {
    min-width: $size-24;
    min-height: $size-24;
    max-width: $size-24;
    max-height: $size-24;
    filter: drop-shadow(0 0 2px $color-black);

    &--isSelected {
      min-width: $size-42;
      min-height: $size-42;
      max-width: $size-42;
      max-height: $size-42;
      filter: drop-shadow(0 0 5px $color-danger) contrast(100) brightness(100);
    }
  }
}
