@import '../../../styles/index.scss';

.explosions {
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $zindex-modal;
  pointer-events:none;

  & > * {
    position: absolute !important;
    margin: 0 auto;
  }
}
