@import '../../styles/index.scss';

.icon {
  display: flex;
  color: inherit;
  
  &--8 {
    min-height: $size-8;
    max-height: $size-8;
    height: $size-8;
    width: $size-8;
  }
  &--16 {
    min-height: $size-16;
    max-height: $size-16;
    height: $size-16;
    width: $size-16;
  }
  &--24 {
    min-height: $size-24;
    max-height: $size-24;
    height: $size-24;
    width: $size-24;
  }
  &--32 {
    min-height: $size-32;
    max-height: $size-32;
    height: $size-32;
    width: $size-32;
  }
  &--48 {
    min-height: $size-48;
    max-height: $size-48;
    height: $size-48;
    width: $size-48;
  }
  &--64 {
    min-height: $size-64;
    max-height: $size-64;
    height: $size-64;
    width: $size-64;
  }
  &--128 {
    min-height: $size-128;
    max-height: $size-128;
    height: $size-128;
    width: $size-128;
  }

  &__svg {
    display: block;
    margin: 0 auto;
    min-height: inherit;
    max-height: inherit;
    width: inherit;
    height: inherit;
    color: inherit;

    path {
      fill: currentColor;
    }

    &--spin {
      animation: rotation 2s infinite linear;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}