@import '../../styles/index.scss';

.icon {
  display: flex;
  color: inherit;
  
  &--8 {
    --icon-size: $size-8;
    min-height: var(--icon-size);
    max-height: var(--icon-size);
    height: var(--icon-size);
    width: var(--icon-size);
  }
  &--16 {
    --icon-size: $size-16;
    min-height: var(--icon-size);
    max-height: var(--icon-size);
    height: var(--icon-size);
    width: var(--icon-size);
  }
  &--24 {
    --icon-size: $size-24;
    min-height: var(--icon-size);
    max-height: var(--icon-size);
    height: var(--icon-size);
    width: var(--icon-size);
  }
  &--32 {
    --icon-size: $size-32;
    min-height: var(--icon-size);
    max-height: var(--icon-size);
    height: var(--icon-size);
    width: var(--icon-size);
  }
  &--48 {
    --icon-size: $size-48;
    min-height: var(--icon-size);
    max-height: var(--icon-size);
    height: var(--icon-size);
    width: var(--icon-size);
  }
  &--64 {
    --icon-size: $size-64;
    min-height: var(--icon-size);
    max-height: var(--icon-size);
    height: var(--icon-size);
    width: var(--icon-size);
  }
  &--128 {
    --icon-size: 1$size-28;
    min-height: var(--icon-size);
    max-height: var(--icon-size);
    height: var(--icon-size);
    width: var(--icon-size);
  }

  &__svg {
    display: block;
    margin: 0 auto;
    min-height: inherit;
    max-height: inherit;
    min-width: inherit;
    max-width: inherit;
    color: inherit;

    path {
      fill: currentColor;
    }

    &--spin {
      animation: rotation 2s infinite linear;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}