@import '../../../styles/index.scss';

.rayBox {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 100vw;
	height: 100vh;
    overflow: visible;
}


.center {
    position: absolute;
    background: $color-white;
    top: calc(100vh /2 - 75px);
    left: calc(100vw /2 - 75px);
    width: 150px;
    height: 150px;
    border-radius: 150px;
	opacity: 0.9;
	box-shadow: 0 0 60px 50px $color-white;
}
	
.rays {
  position: absolute;
  top:0;
  left:0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;  
  -webkit-animation: ray_anim 90s linear infinite;
  animation: ray_anim 90s linear infinite;
}

.ray {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
  border-radius:80% 80% 0 0;
  position: absolute;
  opacity:0.6;
  width: 30px;
  height: 100vh;

  &--1 {
      transform: rotate(180deg);
      width: 20px;
  }
  &--2 {
     transform: rotate(220deg);
  }
  &--3 {
    transform: rotate(250deg);
    width: 50px;
  }
  &--4 {
    transform: rotate(305deg);
    width: 20px;
  }
  &--5 {
    transform: rotate(-15deg);
  }
  &--6 {
    transform: rotate(30deg);
  }
  &--7 {
    transform: rotate(70deg);
    width: 50px;
  }
  &--8 {
    transform: rotate(100deg);
  }
  &--9 {
    transform: rotate(120deg);
    width: 20px;
  }
  &--10 {
    transform: rotate(150deg);
    width: 40px;
  }
}

@keyframes ray_anim { 
  0% { transform: rotate(0deg); transform: rotate(0deg);}    
  100% { transform: rotate(360deg); transform: rotate(360deg);}
}