@import '@mhgo/front/styles/index.scss';

.markerView {
  @include page-wrapper-admin;
  &__header {
    @include page-header-admin;
  }
  &__content {
    @include page-content-admin;
    width: 100%;
    span {
      font-family: $font-open-sans;
      font-size: $size-12;
      font-weight: 600;
    }
  }
  &__title {
    @include page-title;
  }
  &__section {
    @include page-section-admin;
  }
}