@import '@mhgo/front/styles/index.scss';

.fightView {
  @include page-wrapper;
  overflow: hidden; // Rays make website stretch lol
  background-color: $color-black;

  &--swamp {
    background-image: url("https://cdn.arcyvilk.com/mhgo/habitats/swamp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &--forest {
    background-image: url("https://cdn.arcyvilk.com/mhgo/habitats/forest.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &--desert {
    background-image: url("https://cdn.arcyvilk.com/mhgo/habitats/desert.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &--cave {
    background-image: url("https://cdn.arcyvilk.com/mhgo/habitats/cave.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: $size-16;
    gap: $size-16;
    height: 70%;
  }

  &__buttons {
    position: fixed;
    bottom: $size-16;
    width: 100%;
    margin-left: -$size-16;
    display: flex;
    flex-direction: column;
    padding: $size-20;
    gap: $size-8;
  }
  
  &__timer {
    position: absolute;
    top: $size-16;
    left: $size-16;
    max-width: $size-32;
    max-height: $size-32;
  }

  &__monster {
    position: relative;
    max-width: 90%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    &--isActive {
      cursor: pointer;
      filter: drop-shadow(0 0 $size-32 $color-white);

      &:active {
        @include anim-bounce;
        animation: bounce 0.3s linear;
      }
    }

    &--isDead {
      transform: rotate(90deg);
      filter: grayscale(1);
        bottom: -$size-128;
    }
  }
}

.header {
  @include page-header;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  gap: $size-8;

  &__difficulty {
    display: flex;
    color: $color-action;
  }

  &__title {
    @include page-title;
    @include text-outline; 
    width: 100%;
    text-align:center;
    padding-bottom: $size-12;
    border-bottom: 1px solid $color-primary-text;
    color: $color-white;
  }
}
