@import '@mhgo/front/styles/index.scss';

.companionView {
  @include page-wrapper;
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: $size-16;
    gap: $size-16;
  }

  &__name {
    position: absolute;
    top: -$size-32;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $size-8;
    border: 10px solid $color-header-bg;
    border-radius: $size-16;
    background-color: $color-white;
    font-size: $size-16;
    gap: $size-8;
  }

  &__companionWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid $color-header-bg;
    border-radius: $size-16;
    background-color: $color-white;
  }

  &__image  {
    max-width: 90%;
    object-fit: contain;  
  }

  &__speechBubble {
    position: absolute;
    top: 60%;
    left: 15%;
    max-width: 256px;
    background-color: $color-primary-bg;
    padding: $size-12;
    border-radius: $size-12;
    border: $size-4 solid $color-black;
    font-size: $size-14;
    filter: drop-shadow(0 0 1px $color-white);

    &:before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid $color-primary-bg;
      border-bottom: 10px solid $color-primary-bg;
      border-top: 10px solid transparent;
      right: 50%;
      top: -19px;
    }
  }

  &__actionBar {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    position: absolute;
    bottom:0;
    right: $size-16;
    gap: $size-8;
  }
}

.header {
  @include page-header;
  &__title {
    @include page-title; 
  }
}
