@import '@mhgo/front/styles/index.scss';

.companionView {
  @include page-wrapper;
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: $size-16 0 $size-16 $size-16;
    margin-right: $size-32;
    gap: $size-16;
  }

  &__name {
    position: absolute;
    top: -$size-32;
    text-align: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $size-8;
    border: 6px solid $color-header-bg;
    border-radius: $size-16;
    background-color: $color-white;
    font-size: $size-16;
    gap: $size-8;
    max-width: 80%;
  }

  &__companionWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid $color-header-bg;
    border-radius: $size-16;
    background-color: $color-white;
  }

  &__actionBar {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    top: 20%;
    right: -$size-28;
    gap: $size-8;
  }
}

.header {
  @include page-header;
  &__title {
    @include page-title; 
  }
}
