@import '@mhgo/front/styles/index.scss';

.infoBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: calc(50vh - $size-32);
  left: 0;
  padding: $size-12;
  background-color: rgba($color-black, 0.6);
  color: $color-white;
  z-index: $zindex-modal;
  font-size: $size-14;
}