@import '../../styles/index.scss';

.item {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: $size-12;
  min-width: $size-72;
  max-width: 23%;
  flex: 1;

  &__simple {
    position: relative;
    display: flex;

    .tile__amount {
      font-size: $size-10;
    }
  }

  &__tile {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    border-radius: $size-6;
    background-color: $color-white;
    border: 3px solid $color-rarity-1;

    &--rarity-1 {
      border: 3px solid $color-rarity-1;
    }
    &--rarity-2 {
      border: 3px solid $color-rarity-2;
    }
    &--rarity-3 {
      border: 3px solid $color-rarity-3;
    }
    &--rarity-4 {
      border: 3px solid $color-rarity-4;
    }
    &--rarity-5 {
      border: 3px solid $color-rarity-5;
    }
  }

  &__name {
    width: 100%;
    font-size: $size-14;
    color: $color-primary-text;
    text-align: center;
    line-height: $size-12;
  }

  &__price {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    font-size: $size-12;
    color: rgba($color-rarity-3, 0.9);
    margin-top: auto;
  }
}

.tile {
  &__image {
    display: flex;
    max-height: $size-72;
    object-fit: contain;
    padding: $size-6;

    &--simple {
      max-width: $size-32;
      padding: 0;
    }
  }

  &__rarity {
    display: flex;
    width: 100%;
    font-size: $size-12;
    color: $color-white;
    padding: 2px 4px;
    background-color: $color-rarity-1;

    &--rarity-1 {
      background-color: $color-rarity-1;
    }
    &--rarity-2 {
      background-color: $color-rarity-2;
    }
    &--rarity-3 {
      background-color: $color-rarity-3;
    }
    &--rarity-4 {
      background-color: $color-rarity-4;
    }
    &--rarity-5 {
      background-color: $color-rarity-5;
    }
  }

  &__amount {
    position: absolute;
    right: 0;
    bottom: $size-14;
    background-color: $color-white;
    color: $color-primary-text;
    padding: 2px 6px;
    border-radius: $size-16;
    font-size: $size-14;
    font-weight: 800;
    box-shadow: 0 0 5px rgba($color-black, 0.7);
  }
}