@import '@mhgo/front/styles/index.scss';

.monstersView {
  @include page-wrapper-admin;

  &__header {
    @include page-header-admin;
  }

  &__content {
    padding: $size-8;
  }

  &__title {
    @include page-title;
  }

  &__itemDetail {
    display: flex;
    align-items: center;
    gap: $size-8;
    font-weight: 600;
  }

  &__itemIcon {
    max-width: $size-24;
  }
}