@import '@mhgo/front/styles/index.scss';

.itemsView {
  @include page-wrapper-admin;
  &__header {
    @include page-header-admin;
  }
  &__content {
    @include page-content-admin;
  }
  &__title {
    @include page-title;
  }

  &__itemDetail {
    display: flex;
    align-items: center;
    gap: $size-8;
    font-weight: 600;
  }

  &__itemIcon {
    max-width: $size-24;
    max-height: $size-24;
  }
}