@import '../../styles/index.scss';

.itemBoxView {
  @include page-wrapper;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $size-16;
    gap: $size-16;
  }

  &__container {
    @include item-grid;
  }
  
  &__containerWrapper {
    @include item-grid-wrapper;
  }
}

.header {
  @include page-header;
  &__title {
    @include page-title; 
  }
}
