@import '../../styles/index.scss';

.button {
  cursor: pointer;
  font-size: $size-28;
  font-weight: 800;
  padding: $size-24;
  background-color: $color-white;
  border-radius: $size-16;
  color: $color-primary-text;
  border: 1px solid $color-primary-text;
}