@import '@mhgo/front/styles/index.scss';

.tabs {
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
  border: 1px solid $color-header-bg;
  padding: 2px;

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: $size-6;
    flex: 1 1 100%;
    font-size: $size-14;
    font-weight: 800;
    background-color: $color-primary-bg;
    border: 1px solid $color-header-bg;
    border-right: 0;
    outline: none;

    &:is(:last-child) {
      border-right: 1px solid $color-header-bg;
    }

    &--isActive {
      background-color: $color-white;
    }
  }
}

.tab {
  &__link {
    all: unset;
  }
}