$color-white: #ffffff;
$color-black: #000000;

$color-primary-bg: rgb(246,238,218);
$color-secondary-bg: rgb(238,240,237);
$color-tertiary-bg: rgb(223,225,220);

$color-primary-text: rgb(55,46,34);

$color-header-bg: rgb(167, 155, 127);
$color-bar: rgb(84,98,118);

$color-rarity-1: rgb(107, 107, 107);
$color-rarity-2: rgb(46, 167, 92);
$color-rarity-3: rgb(78, 116, 230);
$color-rarity-4: rgb(239, 162, 8);
$color-rarity-5: rgb(209, 33, 60);

$color-success: rgb(49, 160, 39);
$color-danger: rgb(219, 32, 32);
$color-action: rgb(253, 194, 0);

$color-health-user: rgb(106, 209, 75);
$color-health-enemy: rgb(192, 52, 52);


// ADMIN

$admin-color-primary-bg: #0C0910;
$admin-color-secondary-bg: #453750;
$admin-color-tertiary-bg: #73648A;

$admin-color-primary-text: #ddd3f0;
$admin-color-secondary-text: #A393BF;