@mixin page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  gap: $size-16;
  padding-bottom: $size-64;
}

@mixin page-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $size-16;
  background-color: $color-primary-bg;
  z-index: $zindex-header;
}

@mixin page-title {
  margin: 0;
  font-size: $size-24;
  text-transform: uppercase;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin text-outline {
  text-shadow:
    2px 2px 0 $color-black,
    -2px 2px 0 $color-black,
    -2px -2px 0 $color-black,
    2px -2px 0 $color-black;
}

@mixin text-outline-thin {
  text-shadow:
    1px 1px 0 $color-black,
    -1px 1px 0 $color-black,
    -1px -1px 0 $color-black,
    1px -1px 0 $color-black;
}

@mixin svg-outline {
  filter: dropShadow(
    2px 2px 0 $color-black,
    -2px 2px 0 $color-black,
    -2px -2px 0 $color-black,
    2px -2px 0 $color-black
  )
}

@mixin item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  vertical-align: baseline;
  gap: $size-8 $size-4;

  @media (max-width: $media-mobile-small) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: $media-mobile-tiny) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@mixin item-grid-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;

  button {
    height: 100%;
  }
}

@mixin page-wrapper-admin {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100vw - $sidebar-width);
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 400;
  font-size: $size-12;
}

@mixin page-content-admin {
  width: 100%;
  padding: $size-8;
  box-sizing: border-box;
}

@mixin page-section-admin {
  display: flex;
  flex-direction: column;
  gap: $size-16;
  min-width: 250px;
  max-width: $media-mobile-small;
  flex: 1 1 auto;

  &--hidden {
    position: relative;
    background-color: rgba($admin-color-primary-bg, 0.3);
    border: 1px solid $admin-color-primary-bg;
    border-radius: $size-8;
    padding: $size-8;
  }

  h2 {
    margin: 0;
    font-size: $size-12;
  }
}

@mixin page-header-admin {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $size-24;
  background-color: $admin-color-primary-bg;
  z-index: $zindex-header;
}

@mixin page-footer-admin {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: $size-8;
  padding: $size-8 $size-16;
  width: 100%;

  button {
    flex: 0 0 100px;
  }
}