@import '@mhgo/front/styles/index.scss';

.mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-map;

  &__user {
    z-index: 100;
  }
}

.popup {
  font-size: $size-12;
}