@import '../../styles/index.scss';

.tooltip {
  padding: $size-12;
  background-color: $color-white;
  color: $color-black;
  border-radius: $size-12;
  box-shadow: 0 3px 7px $color-black;
  font-size: $size-14;
  max-width: 80vw;

  &__wrapper {
    all: unset;
  }
}