@import '../../styles/index.scss';

.paintballView {
  @include page-wrapper;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $size-16;
    gap: $size-16;
  }

  &__image  {
    max-width: 90%;
    object-fit: contain;
  }

  &__title {
    font-size: $size-18;
  }

  &__desc {
    font-size: $size-14;
    color: rgba($color-primary-text, 0.9);
    font-weight: 400;
  }
}

.header {
  @include page-header;
  &__title {
    @include page-title; 
  }
}

.paintballs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $size-14;
  gap: $size-4;
}