.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width: 720px;
    max-height: 1520px;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 48px;

    background-image: url('./assets/bg_map.png');
    background-size: contain;
  }