@import '@mhgo/front/styles/index.scss';

.reviewView {
  @include page-wrapper-admin;
  &__header {
    @include page-header-admin;
  }
  &__content {
    @include page-content-admin;
    display: flex;
    gap: $size-16;
    padding: $size-8;
    flex-wrap: wrap;
  }
  &__title {
    @include page-title;
  }
}

.changeTile {
  display: flex;
  flex-direction: column;
  background-color: $admin-color-tertiary-bg;
  gap: $size-8;
  padding: $size-12;
  justify-content: space-between;
  flex: 1 1 30%;
  
  &__title {
    font-weight: 600;
    font-size: $size-16;
    text-transform: uppercase;
    color: $color-white;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: $size-8;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: $size-8;
  }

  &__actions, &__changes {
    display: flex;
    flex-direction: column;
    gap: $size-4;
  }

  &__actions {
    align-self: center;
    justify-self: flex-end;
  }
}

.singleChange {
  display: flex;
  flex-direction: column;
  background-color: $admin-color-secondary-bg;
  padding: $size-8;
  gap: $size-4;
  align-items: flex-start;

  &__description {
    display: flex;
    flex-direction: row;
    gap: $size-4;
    align-items: center;
  }
}

// Decorative styles
.sectionTitle {
  text-transform: capitalize;
  font-weight: 600;
}

.italic {
  font-style: italic;
  font-size: $size-10;
}