@import '@mhgo/front/styles/index.scss';

.questView {
  @include page-wrapper;
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $size-16;
    gap: $size-16;
  }

  &__header {
    @include page-header;
    &__title {
      @include page-title; 
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $size-16;
    padding: $size-16;
  }

  &__quest {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $size-8;
    background-color: $color-white;
    border: none;
    box-shadow: 0 2px 5px rgba($color-black, 0.2);
    border-radius: $size-8;

    &--isDone {
      background-color: rgba($color-quest-done, 0.8);
    }

    &--isClaimed {
      opacity: 0.4;
    }
  }

  &__img {
    max-width: 48px;
    object-fit: cover;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: $size-12;
  }

  &__questName {
    margin: 0;
    font-size: $size-14;
  }

  &__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $size-16;
    padding: $size-8 0;
    &:last-child {
      padding-bottom: 0;
    }
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0,0,0,0.2);
    }
  }

  &__payment {
    display: flex;
    flex-direction: row;
    gap: $size-4;
    margin: auto 0 auto auto;
  }

  &__claimed {
    position: absolute;
    top: $size-12;
    right: $size-12;
    object-fit: cover;
    opacity: 0.6;
    max-height: 90%;
    
  }
}

.dailyView {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $size-4;
    margin-bottom: $size-4;
    gap: $size-4;
    background-color: rgba($color-header-bg, 0.6);
  }

  &__title {
    font-size: $size-14;
  }

  &__remaining {
    font-size: $size-12;
    color: $color-success;
  }
}