@import '@mhgo/front/styles/index.scss';

.singleItemView {
  @include page-wrapper-admin;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: $size-8;
    gap: $size-32;
    span {
      font-family: $font-open-sans;
      font-size: $size-12;
      font-weight: 600;
    }
  }

  &__section {
    @include page-section-admin;

    &--wide {
      width: 350px;
    }
  }

  &__craftMaterial {
    display: flex;
    flex-direction: row;
    gap: $size-4;
  }

  &__stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: $size-8;
  }

  &__statKey {
    text-transform: capitalize;
    width: 75px;
  }
}