@import '../../styles/index.scss';

.questView {
  @include page-wrapper;
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: $size-16;
    gap: $size-16;
  }
}

.header {
  @include page-header;
  &__title {
    @include page-title; 
  }
}
