@import '../../styles/index.scss';

.tabs {
  width: 100%;
  display: flex;
  border: 1px solid $color-header-bg;
  padding: 2px;

  &__tab {
    cursor: pointer;
    padding: $size-6;
    flex: 1 1 100%;
    font-size: $size-16;
    font-weight: 800;
    background-color: $color-primary-bg;
    border: 1px solid $color-header-bg;
    outline: none;

    &--isActive {
      background-color: $color-white;
    }
  }
}