@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Raleway&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 10px/1.0 "Orbitron", sans-serif;
  color: #f6eeda;
  background-color: #22211D;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.bgimg-1 {
  background-image: url("https://cdn.arcyvilk.com/mhgo/habitats/swamp.jpg");
  min-height: 100%;
  @media (max-width:666px) {
    min-height: 80%;
  }
}

.bgimg-2 {
  background-image: url("https://cdn.arcyvilk.com/mhgo/habitats/forest.jpg");
  min-height: 70%;
}

.bgimg-3 {
  background-image: url("https://cdn.arcyvilk.com/mhgo/habitats/cave.jpg");
  min-height: 70%;
}

.bgimg-4 {
  background-image: url("https://cdn.arcyvilk.com/mhgo/habitats/desert.jpg");
  min-height: 100%;
}

.caption {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  position: absolute;
  left: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #000;
  gap: 3.2rem;
}

.caption div.border {
  width: 100%;
  max-width: 500px;
  background-color: #22211D;
  color: #f6eeda;
  padding: 14px 16px;
  font-size: 24px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  line-height: 3.5rem;
  text-align: center;
  font-size: 4rem;
  margin: 0;
  color: #22211D;
}

p {
  font-size: 2.0rem;
  font-family:Raleway, Verdana, Geneva, Tahoma, sans-serif;
  margin: 8px 0;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}

.logo {
  filter: drop-shadow(0 0 20px #000);
  width: 350px;
  max-width: 90%;
  margin: 0 32px;
}




.hand {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 75%;
  filter: drop-shadow(10px 10px 10px #000);

  @media (max-width: 1024px) {
    max-height: 50%;
  }
}

.download_buttons {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 1.6rem 0.8rem;
  background-color:#282E34;
  z-index: 2;
}

.download {
  display: flex;
  align-items: center;
  flex: 0 0 280px;
  gap: 1.2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #fdc000;
  border: none;
  padding: 1.2rem 1.6rem;
  border-radius: 2.4rem;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 10px #000;
}

.footer {
  position: relative;
  color: #777;
  background-color:white;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  bottom: 14rem;
}